.advantages-list {
  background-color: #eeeeee;
  display: flex;
  outline: 5px solid #33ff00;
  outline-offset: -5px;
  padding-top: 43px;
  padding-bottom: 62px;
}

.advantages-list__advantages-item h2 {
  padding: 0;
  margin: 0;
  font-family: "ptsansbold", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.advantages-list__advantages-item p {
  padding: 0;
  margin: 0;
  font-family: "ptsans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
