.slogan-site {
  padding-top: 55px;
  padding-bottom: 41px;
  background-color: #ffffff;
  outline: 5px solid #ff9100;
  outline-offset: -5px;
}

.slogan-site__title {
  font-family: "ptsansbold", sans-serif;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  padding-left: 300px;
  padding-right: 300px;
}

.slogan-site__advantages {
  font-family: "ptsans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
