.page-header {
  outline: 5px solid #ff0000a9;
  outline-offset: -5px;
  background-color: #ffffff;
}

.visually-hidden {

  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
